[submodule "common/.vim/bundle/YouCompleteMe"]
	path = common/.vim/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "common/.vim/temp/vim-mucomplete"]
	path = common/.vim/temp/vim-mucomplete
	url = https://github.com/lifepillar/vim-mucomplete.git
[submodule "common/.vim/pack/git-plugins/start/ale"]
	path = common/.vim/pack/git-plugins/start/ale
	url = https://github.com/w0rp/ale.git
[submodule "common/.vim/bundle/vim-airline"]
	path = common/.vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "common/.vim/bundle/vim-closetag"]
	path = common/.vim/bundle/vim-closetag
	url = https://github.com/alvan/vim-closetag.git
[submodule "common/.vim/bundle/ultisnips"]
	path = common/.vim/bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "common/.vim/bundle/vim-pandoc"]
	path = common/.vim/bundle/vim-pandoc
	url = https://github.com/vim-pandoc/vim-pandoc.git
[submodule "common/.vim/bundle/vim-polyglot"]
	path = common/.vim/bundle/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule "common/.vim/bundle/vim-livedown"]
	path = common/.vim/bundle/vim-livedown
	url = https://github.com/shime/vim-livedown.git
[submodule "common/.vim/bundle/delimitmate"]
	path = common/.vim/bundle/delimitmate
	url = https://github.com/raimondi/delimitmate
[submodule "common/.vim/bundle/vim-snippets"]
	path = common/.vim/bundle/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "common/.vim/bundle/vim-pandoc-syntax"]
	path = common/.vim/bundle/vim-pandoc-syntax
	url = https://github.com/vim-pandoc/vim-pandoc-syntax.git
[submodule "common/.vim/bundle/nerdtree"]
	path = common/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "common/.vim/bundle/ctrlp.vim"]
	path = common/.vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "common/.vim/bundle/vim-one"]
	path = common/.vim/bundle/vim-one
	url = https://github.com/rakr/vim-one.git
